<!doctype html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" xmlns: xmlns:width="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <title>Kwiaty na okrągło</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
</head>

<body>

<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">O mnie</h4>
                    <p class="text-muted">Od niedawna robię kwiatki. Chcesz kwiatki? Kup je ode mnie!!!</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class=" ">Follow on Twitter</a></li>

                        <div class="fb-like text-white" data-href="https://web.facebook.com/kwiatynaokraglo/"
                             data-layout="button_count" data-action="like" data-size="large" data-show-faces="true"
                             data-share="true">Polub nas
                        </div>
                        <li><a href="#" class="text-white">Email me</a></li>
                        <li><a href="/addPost" class="text-white">Dodaj post</a></li>
                        <li><a href="/addCategory" class="text-white">Dodaj kategorie</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                    <circle cx="12" cy="13" r="4"></circle>
                </svg>
                <strong>Kwiaty na okrągło</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main">


    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div th:each="category : ${categories}" class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" th:src="${category.categoryImg}" alt="Kategoria">
                        <div class="card-body">
                            <p class="card-text" th:text="@{${category.categoryName}}"></p>
                            <p class="card-text" th:text="@{${category.categoryDescription}}"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <form class="btn-group">
                                        <button type="submit" th:formAction="@{'/category/' + ${category.id}}"
                                                class="btn btn-sm btn-outline-secondary">Obejrzyj
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
<footer class="text-muted">
    <div class="container" style="width:100%">
        <div class="row">
            <div class="fb-page" data-href="https://web.facebook.com/kwiatynaokraglo/" data-small-header="false"
                 data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://web.facebook.com/kwiatynaokraglo/" class="fb-xfbml-parse-ignore">
                    <a href="https://web.facebook.com/kwiatynaokraglo/">Kwiaty na okrągło</a>
                </blockquote>
            </div>
        </div>
    </div>
    <p class="float-right col-12">
        <a href="#">Przejdź do góry</a>
    </p>

    <p>Przedstawione kwoty nie stanowią oferty, a są jedynie orienatcyjnym kosztem podobnych kompozycji. W celu
        otrzymania indywidualnej wyceny skontaktuj się z nami telefonicznie, mailowo lub na Fecebooku.</p>

</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<div id="fb-root"></div>
<script>(function (d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s);
js.id = id;
js.src = 'https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v3.2';
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



</body>
</html>
